export AWS_REGION=ap-southeast-1 # singapore
export AWS_PROFILE=sandbox_infra_admin
# export AWS_REGION=ap-northeast-1
export AWS_CONFIG_FILE=$PWD/../.aws_config
export KUBECONFIG=$PWD/../.kubeconfig
